
.navigation li {
  padding: 20px;
}

.share a {
  padding: 14px;
}

h2 {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

/* I learned about padding - the space between the contents of a box and the borders of a box */
