h1 {
  color: #FFF;
  font-size: 2em;
  padding-top: 100px;
  width: 100%;
}

/* I learned about CSS declaration that CSS declarations consist of a property and a value.
CSS selectors are used to target HTML elements for styling.There are many different types of selectors,
several of which:
id selectors
class selectors
descendant selectors
chained or qualified selectors
*/
