

.a {
  grid-column: 1 / span 2;
}

.b {
  grid-column: 2 / span 6;
  grid-row: 2 / span 3;
}

/* I leraned that grid-column-start, grid-column-end and grid-column work identically to the row properties */ 
